
body{
    background-color: gray;
}

.container1{
    width: 200px;
    height: 100px;
    text-align: center;
    border: 5px solid red;
    margin-left: 500px;
    text-align: center;
    background-color: white;
    padding: 0.5px 20px 0.5px 20px;
    border-radius: 15px;
}

.container2{
    border: 8px solid green;
    height: 800px;
    width: 1300px;
    background-color: gray;

}

.contain1, .contain2, .contain3, .contain4{ 
    border: 5px solid red;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: absolute;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-style: oblique;
    color: rgb(18, 18, 241);
    font-weight: bold;
    padding-top: 20px;
    font-size: large;
    text-transform: uppercase;
}

.contain2{
    float: right;
    margin-left: 980px;
    
    
}
.contain3{
    border: 5px solid red;
    float: left;
    margin-top: 500px;

}

.contain4{
    float: right;
    margin-top: 500px;
    margin-left: 980px;
}


.container3{
    border: 2px solid blueviolet;
    width: 400px;
    height: 340px;
    margin-left: 450px;
    background-color: darkgreen;
    text-align: center;
    
}

.box1, .box2{
    width: 200px;
    height: 150px;
    border: .5px solid green;
    margin-left: 2px;
    text-align: center;
    color: chocolate;

}
.box12{
    display: flex;
    background-color: lightgreen;
}
.box3{
    width: 400px;
    height: 120px;
    border: .5px solid green;
    margin-top: 4px;
    background-color: lightgreen;
    color: chocolate;
}
.hover{
    border-radius: 10px;
    border: 4px solid red;
    background-color:lightgreen;
    width: 350px;
    height: 50px;
    padding: 4px 4px 4px 10px;
    margin-left: 500px;
    position: sticky;
    top: 0;
    color:tomato;
    
}
.submit{
    border: 2px solid black;
    border-color: red;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    background-color: red;
    margin-left: 20px;
    color: black;
}

/* font style */
.welcome{
    /* font-size: large; */
    font-family: ;
}